/********** MENU *************/

.menu {
    height: 100%;   
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:white; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

  .desktop_menu_text {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 2vh;
  }
  
  #closeButton {
    margin: -1vw 0vw 0vw 21vw;
  }